* {
}
/*
::-webkit-scrollbar {
    width: 0;
} */

.main {
    --clr-dark: "#534F46";
    --clr-light: "#E8F7FE";
}

.mantine-Grid-col {
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    color: var(--clr-dark);
}
